# Ignore system and editor-specific files
.DS_Store
.Trash/
.idea/
.vscode/
*.log

# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Git LFS tracked files (if any)
.gitattributes
*.lfs
